/* BACKGROUND */

.bg--green {
  background: map-get($colors, 'green');
  color: white;
}

.bg--yellow {
  background: map-get($colors, 'bgYellow');
  color: map-get($colors, 'green');
}

.bg--grey {
  background: map-get($colors, 'bgGrey');
}

.bg--white {
  background: white;
  text: map-get($colors, 'black');
}

.manifesto__heading--dramatic {
  font-size: 74px;
  font-weight: bold;
  -webkit-text-stroke: 1px map-get($colors, 'green');
  -webkit-text-fill-color: transparent;

  @include screenSizes(phoneSmall) {
    font-size: 39px;
  }
}
