$colors: (
  "brand": #a1a4a9,
  "black": #000000,
  "bgGrey": #D8D8D8,
  "green": #285246,
  "impactYellow": #9B8E33,
  "cookieText": #E1E0C5,
  "cookieTextWhite": #FFFAEB,
  "bgYellow": #FFFAEC,
  "productGrey": #E2E2E2,
  "grey": #c5c1c2,
  "darkGrey": #868686,
  "newsletterButton": #404652,
  "carbonHigh": #BA3434,
);

$productColors: (
  "black": #000000,
  "grey": #c5c1c2,
  "rosenude": #debeab,
  "burgundy": #aa1d4e,
  "navy": #00325e,
  "forestgreen": #006738,
  "darkgreen": #484f26,
  "stonegrey": #929189,
  "cloudyblue": #dce9f4,
  "dustyrose": #9f7a83,
  "dustyclay": #f7bba1,
  "bluestone": #a5b0c2,
  "seablue": #a5b0c2,
  "beige": #ffecdb,
  "white": #EBEBEB,
  "whitelily": #f5f1ef,
  "deeptaupe": #734e46,
  "steel": #B9B9B9,
  "bamboo": #B59074,
  "brown": #8E7357,
  "camel": #ad805d,
  "ocher": #A65A28,
  "softpink": #E6C7B4,
  "ecru": #e9dac6,
  "greymelange": #919298,
  "cobalt": #434762,
  "clay": #b4aca1,
  "lightblue": #b7bed1,
  "walnut": #402D22,
  "oak": #CEB097
);

$mobile: (
  "sectionPadding": 40px 30px,
  "sidePadding": 30px
);

/* Variant colors */
@each $color in $productColors {
  .variant--#{nth($color, 1)} {
    background: nth($color, 2);
  }
}
