.size-guide {
	z-index: 13;
}

.cart-drawer {
	z-index: 12;
}

.sidebar {
	z-index: 11;
}

.overlay {
	z-index: 10;
}

.read-more {
	z-index: 7;
}

.product__sticky {
	z-index: 6;
}

.header {
	z-index: 5;
}